################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataStructuresProblems/.vs/DataStructuresProblems
/DataStructuresProblems/DataStructures/bin/Debug/netcoreapp3.1
/DataStructuresProblems/DataStructures/obj
/DataStructuresProblems/.vs/ProjectEvaluation
/DataStructuresProblems/DataStructures/bin/Debug/net6.0
